html {
  font-size: 10px;
}

body {
  color: var(--c-txt);
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  line-height: 1.5;
  height: 100%;
  width: 100%;
  position: relative;
  --webkit-text-size-adjust: 100%;
  z-index: 0;
}

.pageContent {
  background-color: #f7f5f5;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;

  main {
    background-color: #fff;
    box-shadow: 0 0 0.1rem #333;
    height: 100%;
    width: min(100%, var(--w-pc));
    margin: 0 auto;
    min-height: 100dvh;
    position: relative;
    z-index: 1;

    .container {
      padding: 1.6rem;

      > * {
        margin-bottom: 0.8rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

#loading {
  background-color: #fff;
  display: none;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  &.is-active {
    display: block;
  }

  &::before {
    background-image: url("../images/loading.gif");
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 12rem;
    width: 12rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* background color */
.bgc-red {
  background-color: var(--c-red) !important;
  color: #fff;
}
.bgc-white {
  background-color: #fff !important;
}

/* badge */
.badge {
  background-color: var(--c-primary);
  border-radius: 99rem;
  color: #fff;
  display: inline-block;
  font-size: 1.4rem;
  padding: 0.4rem 2rem;
  text-align: center;
  width: fit-content;
}

.badge-small {
  font-size: 1.2rem;
  padding: 0.2rem 1rem;
}

.badge-large {
  font-size: 1.6rem;
  padding: 0.8rem 4rem;
}

/* button style */
.btnIcn {
  display: block;
  height: 2.4rem;
  width: 2.4rem;
  position: relative;

  &::before {
    direction: ltr;
    display: inline-block;
    font-family: "Material Symbols Outlined";
    font-size: 24px; /* Preferred icon size */
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    word-wrap: normal;
    white-space: nowrap;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.btnIcn-small {
  height: 1.6rem;
  width: 1.6rem;

  &::before {
    font-size: 1.6rem;
  }
}

.btnIcm-large {
  height: 3.2rem;
  width: 3.2rem;

  &::before {
    font-size: 3.2rem;
  }
}

.btnIcn-close {
  &::before {
    content: "\e5cd";
  }
}

.btn-primary {
  background-color: var(--c-primary);
  border-radius: 0.4rem;
  color: #fff;
  cursor: pointer;
  display: block;
  padding: 1.2rem 1.6rem;
  position: relative;
  text-align: center;
  width: fit-content;

  &[aria-disabled="true"] {
    background-color: var(--c-gray);
    cursor: not-allowed;
  }
}

.btn-secondary {
  background-color: #fff;
  border: 0.1rem solid var(--c-primary);
  border-radius: 0.4rem;
  color: var(--c-primary);
  cursor: pointer;
  display: block;
  padding: 1.2rem 1.6rem;
  position: relative;
  text-align: center;
  width: fit-content;

  &[aria-disabled="true"] {
    border-color: var(--c-gray);
    color: var(--c-gray);
    cursor: not-allowed;
  }
}

.btn-tertiary {
  border-radius: 0.4rem;
  color: var(--c-primary);
  cursor: pointer;
  display: block;
  padding: 1.2rem 1.6rem;
  position: relative;
  text-align: center;
  text-decoration: underline;
  width: fit-content;

  &[aria-disabled="true"] {
    color: var(--c-gray);
    cursor: not-allowed;
  }
}

/* carousel */
.carousel-banner {
  display: grid;
  gap: 0.8rem;
  grid-template-columns: repeat(var(--i), calc(100% - 3.2rem));
  overflow: scroll hidden;
  padding: 0.1rem;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;

  .carousel-item {
    scroll-snap-align: center;
    width: 100%;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

/* column style */
.column-wrap {
  display: grid;
  gap: 1.6rem;
  grid-template-columns: repeat(2, 1fr);
}

/* flexBox */
.flexBox {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0.8rem;
}

/* text style */
.fs-xlarge {
  font-size: 3.2rem;
}
.fs-large {
  font-size: 2rem;
}
.fs-medium {
  font-size: 1.6rem;
}
.fs-normal {
  font-size: 1.4rem;
}
.fs-small {
  font-size: 1.2rem;
}
.fs-xsmall {
  font-size: 1rem;
}

.fw-bold {
  font-weight: 700;
}
.fw-normal {
  font-weight: 500;
}
.fw-light {
  font-weight: 300;
}

/* width */
.w-100 {
  width: 100%;
}
